.main {
  padding: 80px 120px 80px 121px;
  font-size: 0;
  display: inline-block;
}
.main__left {
  padding-right: 20px;
  width: 50%;
  display: inline;
  vertical-align: middle;
  float: left;
}
.main__title {
  line-height: 72px;
  margin-bottom: 24px;
  margin-top: 215px;
}
.main__text {
  margin-bottom: 32px;
}
.main__button {
  margin-bottom: 298px;
  height: 51px;
}
.main__image1 {
  vertical-align: top;
  display: inline;
  width: 50%;
  height: 669px;
  margin-top: 80px;
  float: right;
}
